<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.agingcarev01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FonctionsSurveillant.TensionArterielle.ConsulterListeTensionArterielle"></activity>
        <activity android:name=".FonctionsSurveillant.TauxGlycemie.ConsulterListeTauxGlycemique" />
        <activity android:name=".FonctionsSurveillant.Poids.ConsulterListePoids" />
        <activity android:name=".FonctionsSurveillant.ConsulterStatistiqueResident" />
        <activity android:name=".FonctionsSurveillant.TauxGlycemie.AjouterTauxGlycemie" />
        <activity android:name=".FonctionsSurveillant.Poids.AjouterPoidsResident" />
        <activity android:name=".FonctionsSurveillant.AffecterInfirmier.AffecteeInfirmiereResident" />
        <activity android:name=".FonctionsProfil.ConsulterProfilEmployee" />
        <activity android:name=".FonctionsSurveillant.Maladie.ConsulterListeMaladie" />
        <activity android:name=".FonctionsSurveillant.ModifierInfoResident" />
        <activity android:name=".FonctionsProfil.ConsulterProfilResident" />
        <activity android:name=".ConsulterListes.Activities.ConsulterListeDirecteur" />
        <activity android:name=".FonctionsSurveillant.CreerProfilResident" />
        <activity android:name=".ConsulterListes.Activities.ConsulterListeResident" />
        <activity android:name=".ConsulterListes.Activities.ConsulterListeInfirmier" />
        <activity android:name=".ConsulterListes.Activities.ConsulterListeSurveillant" />
        <activity android:name=".FonctionsProfil.ConsulterPropreProfil" />
        <activity android:name=".HomePages.HomeInfirmier" />
        <activity android:name=".HomePages.HomeSurveillant" />
        <activity android:name=".FonctionsAdmin.CreeCompteAdmin" />
        <activity android:name=".HomePages.HomeAdmin" />
        <activity android:name=".FonctionsDirectuer.CreerCompteInfirmier" />
        <activity android:name=".FonctionsDirectuer.CreerCompteSurveillant" />
        <activity android:name=".HomePages.HomeDirectuer" />
        <activity android:name=".TestCompteActive" />
        <activity android:name=".FonctionsAdmin.CreerCompteDirecteur" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>